/**
 * main blog item list container style
 */
.list-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 2rem;
  padding: 0 8%;
  @media (max-width: 768px) {
    padding: 0 2rem;
  }
  @media (max-width: 1919px) {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }

  @media (max-width: 1439px) {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  @media (max-width: 1056px) {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

.hidden {
  display: none !important;
}

.switching-text {
  color: #12b886;
  cursor: pointer;
  text-decoration: underline;
}

// animationtype
.bright {
  transition: filter 0.3s ease;
  &:hover {
    filter: brightness(1.1);
  }
}

.darken {
  transition: filter 0.3s ease;
  &:hover {
    filter: brightness(0.8);
  }
}
