.header-button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 2rem;
  transition:
    color 0.3s ease,
    background 0.3s ease;
  cursor: pointer;
  &:hover {
    color: #ffffff;
    background: black;
  }
}
